* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* ---- 2 task ---- */

.timer {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  column-gap: 10px;
  margin-top: 15px;
}

.field {
  text-align: center;
}

.value {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
}

.label {
  font-size: 13px;
  font-weight: 500;
}